<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login and Query</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script src="opened-api.js"></script>
    <script>
      window.OpenEd.api.init({
        client_id: "<%= client_id %>"
      });

      window.OpenEd.api.silentLogin('<%= signed_request %>', function(){
        search_params = {
          standard: 'A.APR.1'
        }
        window.OpenEd.api.request("/resources", search_params, function(data){
          var resourcesList = document.getElementById('resources_list');
          data.resources.forEach(function(resource){
            var li = document.createElement('li');
            var span = document.createElement('span');
            span.innerText = resource.title;
            li.appendChild(span);
            resourcesList.appendChild(li);
          });
        });

      }, function(data){
        console.error(data.error);
      });
    </script>

    <ul id="resources_list">
    </ul>
  </body>
</html>
